/* sidebar  */
body{
    overflow: hidden;
    height: 100vh;
}
.sidebar{
  height: 96vh;
}

.sidebar ul {
    padding: 0rem 10px;
}
.sidebar ul li{
    list-style-type: none;
}
.sidebar ul li a{
   color: #fff;
   text-decoration: none;
   line-height: 2em;
}
.sidebar ul li a:hover{
   color: #d6cccc;
}

/* make my trip start */
.box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.box{
    border: 1px solid black;
    padding: 10px;
    height: 50px;
    width: 50px;
}

/* stars component  */
.stars{
    cursor: pointer;
}

.stars > span{
    font-size: 3em;
}

.yellow{
    color: rgb(255, 217, 0);
}

.red{
    color: rgb(255, 0, 0);
}

.green{
    color: rgb(0, 255, 34);
}

/* Password Generator */
.checkboxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* test */
.parent-box{
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.test-box{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* progress bar */